<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to user do %>
      <%= user.id %> <%= user.firstname %> / <%= user.age %> / <%= user.lastname %>
    </a>
    <% end %>
  </li>
  <% end %>
  <br/>
  <%= link_to "ADD USER", [:new, :user] %>
</ul>
